.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 15rem;
  font-size: $font-regular;
  border-radius: 5px;
}

.button-black {
  color: white;
  background-color: $color-black;
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.button-yellow {
  color: $color-black;
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-shade;
  }
}
