.page-title {
  margin: 0 0 3rem 7rem;
  font-size: $heading-3;

  @include res(tab-port) {
    text-align: center;
    margin: 3rem auto;
  }
}

// PRODUCTS PAGE
.products {
  margin: 3rem 15rem;
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include res(tab-land) {
    margin: 3rem 10rem;
  }
  @include res(tab-port) {
    margin: 3rem 8rem;
  }

  @media (max-width: 705px) {
    margin: 3rem 3rem;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  max-width: 20rem;
  height: 30rem;
  padding: 1rem;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  &-thumbnail {
    width: 17rem;
    border-radius: 5px;
  }
  &-button {
    background-color: $color-primary;
    cursor: pointer;
    border: none;
    width: 17rem;
    height: 3rem;
    border-radius: 3px;
    &:hover {
      background-color: $color-primary-shade;
      transition: all 1.5;
    }
  }
  &-text {
    h3 {
      margin-top: 1rem;
      font-size: $font-regular;
    }
    p {
      font-size: $font-small;
    }
  }
}

//SHOPPING CART PAGE
.shopping-cart {
  margin: 3rem 15rem;
  font-size: $font-regular;
  &-container {
    margin: 3rem 7rem 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1060px) {
      justify-content: center;
    }
    @include res(tab-port) {
      margin: 3rem 5rem 10rem;
    }
    @include res(phone) {
      margin: 3rem 1rem 10rem;
    }
  }

  @include res(phone) {
    margin: 3rem 3rem;
  }
  &-summary {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-size: $font-regular;
    border-radius: 4px;
    align-items: left;
    height: 18rem;
    width: 23rem;
    padding: 2rem;
    border: 1px solid rgb(218, 218, 218);
    &-total {
      display: flex;
      justify-content: space-between;
    }
    &-line {
      height: 1px;
      background-color: $color-black;
    }
    @media (max-width: 1056px) {
      margin: 4rem auto;
    }
  }
  &-payment-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 1rem 2rem;
    width: 15rem;
    font-size: $font-regular;
    margin-top: 1rem;
    border-radius: 5px;
    color: $color-black;
    background-color: $color-primary;
    border: none;
    align-self: center;
    &:hover {
      background-color: $color-primary-shade;
    }
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 3rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  width: 40rem;
  &-detail {
    h3 {
      font-size: $font-regular;
      margin-bottom: 1rem;
    }
    p {
      font-size: $font-small;
    }
  }
  &-left {
    display: flex;
    align-items: center;
  }
  &-right {
    display: flex;
    &-line {
      height: 7rem;
      width: 1px;
      background-color: rgb(136, 136, 136);
      margin-right: 2rem;
    }
  }
  &-thumb img {
    width: 10rem;
    margin-right: 1rem;
    border-radius: 5px;
  }
  &-delete-button {
    color: $color-red;
    background-color: $color-white;
    border: none;
    &:hover {
      cursor: pointer;
      color: $color-red-shade;
    }
  }
}

.swal2-confirm a {
  color: $color-white;
  text-decoration: none;
}

//PANDEPROJECTS PAGE
.pandeprojects {
  margin: 3rem 15rem 0;
  &-procedure {
    padding: 0 7rem;
    &-item {
      display: flex;
      align-items: center;
      background-color: $color-grey;
      padding: 2rem 3rem;
      border-radius: 10px;
      &-icon {
        margin-right: 2rem;
      }
      &-text {
        &-title {
          font-size: $font-large;
          font-weight: 600;
        }
        &-content {
          font-size: $font-regular;
        }
      }
    }
    &-arrow {
      text-align: center;
      margin: 1rem 0;
    }
  }
  &-contact {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: $font-large;
  }
}
