.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.button-black {
  color: white;
  background-color: black;
}

.button-black:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.button-yellow {
  color: black;
  background-color: #f9ca24;
}
