// NAVBAR
nav {
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 17rem;
  font-size: $font-large;
  position: sticky;
  overflow: hidden;
  top: 0;
  background-color: $color-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  z-index: 100;
}

.nav {
  &-menu a {
    text-decoration: none;
    color: $color-black;
  }
  &-menu-item {
    padding: 1rem;
    border-radius: 5px;
    &:hover {
      background-color: $color-primary;
    }
  }

  &-logo img {
    width: 4rem;
  }

  &-cart {
    display: flex;
    color: $color-black;
    &-value {
      background-color: $color-primary;
      border-radius: 50px;
      height: 2rem;
      width: 2rem;
      font-size: $font-regular;
    }
  }

  &-cart a {
    color: $color-black;
  }
}

// HERO
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 $home-horizontal-margin;
  &-title {
    font-size: $heading-2;
    margin-bottom: 1rem;
  }
  &-text {
    margin-right: 7rem;
    p {
      font-size: $font-regular;
    }
  }
  &-image {
    position: relative;
    &-1 img {
      width: 25rem;
      border-radius: 50%;
      &:hover {
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px;
        transform: translateY(-2px);
        transition: all 0.2s;
      }
    }
    &-2 img {
      width: 10rem;
      border-radius: 50%;
      position: absolute;
      top: 3rem;
      right: 18rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 20px;
      &:hover {
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 30px;
        transform: translateY(-2px);
        transition: all 0.2s;
      }
    }
    &-3 img {
      width: 12rem;
      border-radius: 50%;
      position: absolute;
      top: 13rem;
      right: -2rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 20px;
      &:hover {
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 30px;
        transform: translateY(-2px);
        transition: all 0.2s;
      }
    }
  }
  button {
    font-size: $font-large;
  }
}

// INFO SECTION HOME
.info {
  display: flex;
  margin: 3rem $home-horizontal-margin;

  &-item {
    display: flex;
    align-items: center;
    background-color: $color-grey;
    border-radius: 20px;
    padding: 1rem 1.5rem;

    &-2 {
      margin: 0 2rem;
      padding: 1rem 1.5rem;
    }
  }
  &-icon {
    padding: 1rem;
  }
  &-title {
    font-weight: 700;
    font-size: $font-large;
  }
  &-detail {
    font-size: $font-regular;
  }
}

// PROJECT SECTION HOME
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem $home-horizontal-margin;
  padding: 3rem;
  background-color: $color-primary;
  height: 20rem;
  border-radius: 10px;
  &-image {
    img {
      width: 20rem;
      border-radius: 10px;
      margin-right: 3rem;
    }
  }
  &-text {
    h2 {
      font-size: $heading-3;
    }
    p {
      font-size: $font-regular;
    }
  }
}

footer {
  height: 34vh;
  width: 100vw;
  text-align: center;

  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  a {
    color: rgb(24, 24, 24);
    text-decoration: none;
  }
  &-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: $font-regular;
    &-title {
      font-size: $font-large;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &-contact {
      a {
        margin-left: 0.5rem;
      }
    }
  }
  &-item-2 {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    font-size: $font-regular;
    text-align: left;
  }
  &-credit {
    display: flex;
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center;
    p {
      margin-right: 0.4rem;
    }
    a {
      color: black;
    }
  }
}
