.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-menu-nav {
  margin: 0 3rem;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.button-black {
  color: white;
  background-color: #000000;
}
.button-black:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.button-yellow {
  color: #000000;
  background-color: #f9ca24;
}
.button-yellow:hover {
  background-color: #e0b720;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%;
  /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  /* padding: 3rem; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.4;
}

.link {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 17rem;
  font-size: 1.5rem;
  position: sticky;
  overflow: hidden;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  z-index: 100;
}

.nav-menu a {
  text-decoration: none;
  color: #000000;
}
.nav-menu-item {
  padding: 1rem;
  border-radius: 5px;
}
.nav-menu-item:hover {
  background-color: #f9ca24;
}
.nav-logo img {
  width: 4rem;
}
.nav-cart {
  display: flex;
  color: #000000;
}
.nav-cart-value {
  background-color: #f9ca24;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
}
.nav-cart a {
  color: #000000;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25rem;
}
.hero-title {
  font-size: 2.93rem;
  margin-bottom: 1rem;
}
.hero-text {
  margin-right: 7rem;
}
.hero-text p {
  font-size: 1.2rem;
}
.hero-image {
  position: relative;
}
.hero-image-1 img {
  width: 25rem;
  border-radius: 50%;
}
.hero-image-1 img:hover {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px;
  transform: translateY(-2px);
  transition: all 0.2s;
}
.hero-image-2 img {
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  right: 18rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 20px;
}
.hero-image-2 img:hover {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 30px;
  transform: translateY(-2px);
  transition: all 0.2s;
}
.hero-image-3 img {
  width: 12rem;
  border-radius: 50%;
  position: absolute;
  top: 13rem;
  right: -2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 20px;
}
.hero-image-3 img:hover {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 30px;
  transform: translateY(-2px);
  transition: all 0.2s;
}
.hero button {
  font-size: 1.5rem;
}

.info {
  display: flex;
  margin: 3rem 25rem;
}
.info-item {
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 20px;
  padding: 1rem 1.5rem;
}
.info-item-2 {
  margin: 0 2rem;
  padding: 1rem 1.5rem;
}
.info-icon {
  padding: 1rem;
}
.info-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.info-detail {
  font-size: 1.2rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 25rem;
  padding: 3rem;
  background-color: #f9ca24;
  height: 20rem;
  border-radius: 10px;
}
.project-image img {
  width: 20rem;
  border-radius: 10px;
  margin-right: 3rem;
}
.project-text h2 {
  font-size: 2.34rem;
}
.project-text p {
  font-size: 1.2rem;
}

footer {
  height: 34vh;
  width: 100vw;
  text-align: center;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
}
.footer a {
  color: #181818;
  text-decoration: none;
}
.footer-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
}
.footer-item-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer-item-contact a {
  margin-left: 0.5rem;
}
.footer-item-2 {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  font-size: 1.2rem;
  text-align: left;
}
.footer-credit {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
  align-items: center;
}
.footer-credit p {
  margin-right: 0.4rem;
}
.footer-credit a {
  color: black;
}

.page-title {
  margin: 0 0 3rem 7rem;
  font-size: 2.34rem;
}

.products {
  margin: 3rem 15rem;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  max-width: 20rem;
  height: 30rem;
  padding: 1rem;
  border: 1px solid #dadada;
  border-radius: 5px;
}
.product-item-thumbnail {
  width: 17rem;
  border-radius: 5px;
}
.product-item-button {
  background-color: #f9ca24;
  cursor: pointer;
  border: none;
  width: 17rem;
  height: 3rem;
  border-radius: 3px;
}
.product-item-button:hover {
  background-color: #e0b720;
  transition: all 1.5;
}
.product-item-text h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.product-item-text p {
  font-size: 1rem;
}

.shopping-cart {
  margin: 3rem 15rem;
  font-size: 1.2rem;
}
.shopping-cart-container {
  margin: 3rem 7rem 10rem;
  display: flex;
  justify-content: space-between;
}
.shopping-cart-summary {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
  align-items: left;
  height: 18rem;
  width: 23rem;
  padding: 2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.267);
}
.shopping-cart-summary-total {
  display: flex;
  justify-content: space-between;
}
.shopping-cart-summary-line {
  height: 1px;
  background-color: #000000;
}
.shopping-cart-payment-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 15rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  border-radius: 5px;
  color: #000000;
  background-color: #f9ca24;
  border: none;
  align-self: center;
}
.shopping-cart-payment-button:hover {
  background-color: #e0b720;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 3rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  width: 40rem;
}
.cart-item-detail h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.cart-item-detail p {
  font-size: 1rem;
}
.cart-item-left {
  display: flex;
  align-items: center;
}
.cart-item-right {
  display: flex;
}
.cart-item-right-line {
  height: 7rem;
  width: 1px;
  background-color: #888888;
  margin-right: 2rem;
}
.cart-item-thumb img {
  width: 10rem;
  margin-right: 1rem;
  border-radius: 5px;
}
.cart-item-delete-button {
  color: #c0392b;
  background-color: #ffffff;
  border: none;
}
.cart-item-delete-button:hover {
  cursor: pointer;
  color: #973227;
}

.swal2-confirm a {
  color: #ffffff;
  text-decoration: none;
}

.pandeprojects {
  margin: 3rem 15rem 0;
}
.pandeprojects-procedure {
  padding: 0 7rem;
}
.pandeprojects-procedure-item {
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  padding: 2rem 3rem;
  border-radius: 10px;
}
.pandeprojects-procedure-item-icon {
  margin-right: 2rem;
}
.pandeprojects-procedure-item-text-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.pandeprojects-procedure-item-text-content {
  font-size: 1.2rem;
}
.pandeprojects-procedure-arrow {
  text-align: center;
  margin: 1rem 0;
}
.pandeprojects-contact {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=App.css.map */
